html,
body,
*{

    padding: 0;
    margin-bottom: 2.5rem;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Rampart One', cursive;
    
}



.card{
font-size: 3rem;
display: flex;
justify-content: space-around;
position: relative;

}

.gallery{
    flex-flow: row wrap;
}

.box{
    border: 7px solid lightblue;
    border-radius: 1.5rem;
    display: flex;
    transition: all 0.3s ;
    outline-offset: 1rem;
    width: 28%;
    height: 40rem;
    background-color:antiquewhite;
    box-shadow: rgb(226, 222, 215) 1.8rem 1.8rem}
    
    .box1{
        border: 7px solid lightblue;
        border-radius: 1.5rem;
        display: flex;
        transition: all 0.3s ;
        outline-offset: 1rem;
        width: 28%;
        height: 40rem;
        position:relative;
        background-color:antiquewhite;
        border-top-right-radius:10px;
        border-bottom-left-radius:10px;
        box-shadow: rgb(226, 222, 215) 1.8rem 1.8rem}

        .box2{
            border: 7px solid lightblue;
            border-radius: 1.5rem;
            display: flex;
            transition: all 0.3s ;
            outline-offset: 1rem;
            width: 28%;
            height: 40rem;
            position:relative;
            background-color:antiquewhite;
            border-top-right-radius:10px;
            border-bottom-left-radius:10px;
            box-shadow: rgb(226, 222, 215) 1.8rem 1.8rem}

.box-image{
    width: 45rem;
    height: 38.6rem;
   border-radius: 1.1rem;

}


h1{
    font-size: 8rem;
    text-align: center;
color: rgb(168, 212, 212);
}

h2{
    color:rgb(166, 139, 175);
    font-size: 2.3rem;
    text-align: center;
    margin-top: auto;

}

.box1:hover{
    border-top-right-radius:0px;
  border-bottom-left-radius:0px;
}

.box2:hover{
    fill:lightpink;
}

.box:hover{
    transform: scale(1.2);
    outline: 1rem solid rgb(145, 167, 235);
}

.box-text:before{
    font-size: 2.5rem;
    content:"\2665";
}



.box-text{
    height: 10rem;
    width: 17rem;
   animation: test 4s infinite;
}

@keyframes test{
    0%{
left: 50%;
bottom: 10%;
background-color:lightblue ;
    }
    25%{
        left: 50%;
        bottom: 10%;
        transform: scale(1.3);
        background-color:lightgoldenrodyellow ;
    }
    50%{
        left: 50%;
        bottom: 10%;
        transform: scale(1);
        background-color:lightpink ;
    }
    75%{
        left: 50%;
        bottom: 10%;
        transform: scale(1.4);
        background-color:lightcoral ;
    }
    100%{
        left: 50%;
        bottom: 10%;
        background-color:lightsalmon ;
    }
}



@media and (max-width: 768px){
 
 }

