html,
body,
*{

    padding: 0;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-size: 62.5%;
    
}



.card{
font-size: 30px;
display: flex;
justify-content: space-around;
position: relative;
}


.box{
    border: 5px solid lightblue;
    border-radius: 15px;
    display: flex;
    transition: all 0.3s ease-in-out;
    width: 28%;
    height: 400px;
    background-color:antiquewhite;
    box-shadow: rgb(226, 222, 215) 18px 18px}
    


.image{
    width: 400px;
    height: 390px;
   border-radius: 11px;
   
}


h1{
    font-size: 80px;
    text-align: center;
color: rgb(168, 212, 212);
}

h2{
    color:rgb(166, 139, 175);
    font-size: 23px;
    text-align: center;
    margin-top: auto;

}
.box:hover{
    transform: scale(1.5);
}

.text:before{
    font-size: 2.5rem;
    content:"\2665";

}
